@charset "UTF-8";
/* layout general
 -----------------------------------------------------*/
/* general setting
 -----------------------------------------------------*/
* {
  outline: transparent;
}


body {
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif;
  font-size: calc(6px + 1vw);
  color: #333;
  line-height: 1.5;
  background: #FFF;
}


a {
  color: #0bb4b7;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
a:hover {
  text-decoration: none;
  color: #0bb4b7;
}
a:focus {
  outline: none;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
   font-weight: 900;
    font-family: "Montserrat", sans-serif;
    font-size: calc(10px + 2vw);
}

p {
  margin-bottom: 10px;
}
p:last-child {
  margin-bottom: 0px;
}



input[type=submit] {
  border: none;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
@media (min-width: 1600px){
  .container{
    max-width: 1400px !important;
  }
}
@media (min-width: 2000px){
  .container{
    max-width: 2000px !important;
  }
}


@media screen and (max-width: 767px){
    
    body{
        font-size: calc(10px + 1vw);
    }
}
img{
  width: 100%;
}

.header-container{
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
            align-items: center;
}
.header-container .logo-group{
  display: flex;
  align-items: center;
  gap: 25px;
}
.header-container .logo-group .logo-item{
  width: 20%;
}
.header-container .btn-contact{
  width: 25%;
  margin-left: auto;
}
.header-container .btn-contact img:hover{
  transform: scale(1.1);
  transition-duration: 0.5s;
}
.md-title{
  text-align: center;
}
.md-title{
  position: relative;
  padding: 30px 0px;
}
.md-title::before{
  content: "";
  background: #ed2f59;
  width: 35%;
  height: 2px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  display: block;
}
.md-title h2{
  color: #ed2f59;
}
.md-title p{
   font-family: "Playpen Sans", cursive;
}
.banner{
  display: flex;
  align-items: center;
  background: #ed2f59;
  margin-bottom: 50px;
}
.banner .left-banner{
  width: 60%;
  padding: 30px 60px;
}
.banner .left-banner h2{
  font-size: calc(20px + 3vw);
  color: #FFF;
  margin-bottom: 50px;
}
.banner .left-banner h2 span{
  font-family: "Playpen Sans", cursive;
  display: block;

}
.banner .left-banner p{
  font-family: "Playpen Sans", cursive;
  color: #FFF;
  margin-bottom: 30px;
  text-align: justify;
}
.banner .left-banner p span{
  font-weight: 700;
}
.banner .left-banner .md-btn{
  display: flex;
  gap: 50px
}
.banner .left-banner .md-btn img{
  width: 80%;
}
.banner .left-banner .md-btn img:hover{
  transform: scale(1.1);
  transition-duration: 0.5s;
}
.banner .right-banner{
  width: 40%;
}
.page-main .section-1 .md-content{
  width: 80%;
  margin: 0 auto 30px auto;
}

.page-main .section-1 .md-text-bot{
  display: flex;
  gap: 50px;
  text-align: justify;
  align-items: center;
  font-family: "Playpen Sans", cursive;
}
.page-main .section-1 .md-left{
  padding-left: 5%;
  width: 45%;
}
.page-main .section-1 .md-right{
  background: #fcc8da;
  padding: 50px;
  width: 55%;
}
.page-main .section-1 .quote-text {
    color: #ed2f59;
    line-height: 1.6;
    text-align: left; /* Để left để chữ không bị kéo dãn xa dấu ngoặc */
    margin: 0 0 25px 0;
    text-align: justify;
}

/* Tạo dấu mở câu bằng ::before */
.page-main .section-1 .quote-text::before {
    content: "";
    background: url(../images/ico-quote-1.png) no-repeat;
    background-size: 100% 100%;
    width: 22px;
    height: 17px;
    line-height: 0;
    display: inline-block;
    vertical-align: 10px; /* Đẩy nhẹ vị trí xuống cho cân bằng */
    margin-right: 8px;
}

/* Tạo dấu đóng câu bằng ::after */
.page-main .section-1 .quote-text::after {
    content: "";
    background: url(../images/ico-quote-2.png) no-repeat;
    background-size: 100% 100%;
    width: 22px;
    height: 17px;
    line-height: 0;
    display: inline-block;
    vertical-align: -15px; /* Giúp dấu đóng câu hạ thấp xuống một chút như trong ảnh */
    margin-left: 4px;
}
.page-main .section-1 .author-info .author-name{
  display: block;
}
.page-main .section-1 .author-info{
  font-size: calc(2px + 1vw);
}
.page-main .section-1 .author-info strong{
  font-size: calc(6px + 1vw);
}
.page-main .section-1{
  margin-bottom: 50px;
}
.page-main .section-2 .md-text-bot{
  margin-top: 30px;
  text-align: center;
  font-family: "Playpen Sans", cursive;
  border: 2px dashed #ed2f59;
  border-radius: 20px;
  padding: 30px 15px;
}
.page-main .section-2 .md-text-bot span{
  font-weight: 700;
  color: #ed2f59;
}
.page-main .section-2{
  margin-bottom: 50px;
}
.page-main .section-3 .md-content{
  display: flex;
  align-items: center;
  gap: 50px;
  font-family: "Playpen Sans", cursive;
}
.page-main .section-3 .md-content .md-left{
  padding-left: 5%;
  width: 60%;
}
.page-main .section-3 .md-content .md-right{
  width: 40%;
}
.page-main .section-3 .md-img-bot{
  width: 78%;
  display: table;
  margin: 0 auto 50px auto;
}
.page-main .section-3 .md-content .md-left .md-top-left{
  text-align: justify;
  margin-bottom: 20px;
  font-size: calc(8px + 1vw);
}
.page-main .section-3 .md-content .md-left .md-bot-left{
  display: flex;
  align-items: center;
   gap: 20px;
}
.page-main .section-3 .md-content .md-left .md-bot-left .md-img{
  width: 35%;
 
}
.page-main .section-3 .md-content .md-left .md-bot-left .md-text{
  width: 65%;
}
.page-main .section-3 .md-content .md-left .md-bot-left span{
  display: block;
}
.page-main .section-3 .md-content .md-left .md-bot-left span.author-name{
  color: #ed2f59;
  font-weight: 700;
}
.md-row .md-col{
      display: flex;
    gap: 50px;
    text-align: justify;
    align-items: center;
    font-family: "Playpen Sans", cursive;
}
.md-row .md-col .md-left{
  width: 65%;
  padding-left: 5%;
}
.md-row .md-col .md-right{
  width: 35%;
}
.md-row .md-col .md-left .content-left{
  background: #FFF;
  border-radius: 20px;
      box-shadow: 1px 1px 10px 0px rgb(0 0 0 / 20%);
      padding: 30px 50px;
}
.md-row .md-col .md-left .content-left h6{
  font-size: calc(8px + 1vw);
  margin-bottom: 15px;
  color: #ed2f59;
}
.md-row .md-col .md-left .content-left ul li{
  list-style: disc;
  margin-bottom: 5px;
}
.md-row .md-col-2{
  margin-top: 30px;
}
.md-row .md-col-2 .md-right{
  order: -1;
  width: 50%;
}
.md-row .md-col-2 .md-left{
  padding-left: 0;
  padding-right: 5%;
  width: 50%;
}
.page-main .section-3{
  margin-bottom: 50px;
}
.page-main .section-4 .md-img{
  margin-bottom: 40px;
  margin-top: 20px;
}
.page-main .section-4 .content-bot{
  padding: 0px 15%;
  text-align: justify;
}
.page-main .section-4 .content-bot img{
  width: 20%;
  display: table;
  margin: 0 auto 20px auto;
}
.page-main .section-4 .content-bot p{
   font-family: "Playpen Sans", cursive;
}
.page-main .section-4 .content-bot .col-md-6{
  margin-bottom: 40px;
}
.page-main .section-5 .md-slider{
  padding: 0px 15%;
  position: relative;
  margin-bottom: 50px;
}
.page-main .section-5 .md-slider .owl-theme .owl-dots{
  display: none;
}
.page-main .section-5 .md-slider .owl-theme .owl-nav .owl-prev{
  background: url(../images/ico-prev.png) no-repeat;
  background-size: 100% 100%;
  width: 14px;
  height: 16px;
  display: block;
  position: absolute;
  left: -5%;
  top: 50%;
  transform: translateY(-50%);
  margin: 0px;
}
.page-main .section-5 .md-slider .owl-theme .owl-nav .owl-next{
  background: url(../images/ico-next.png) no-repeat;
  background-size: 100% 100%;
  width: 14px;
  height: 16px;
  display: block;
  position: absolute;
  right: -5%;
  top: 50%;
  transform: translateY(-50%);
  margin: 0px;
}
.page-main .section-5 .md-slider .owl-theme .owl-nav span{
  display: none;
}
.page-main .section-5 .md-slider .owl-theme .owl-nav button:focus{
  outline: none;
}
.page-main .section-5 .md-slider img{
  border-radius: 20px;
}
.page-main .section-6{
  margin-bottom: 50px;
}
.page-main .section-6 .md-text-bot img{
  width: 24px;
  height: auto;
}
.page-main .section-6 .md-text-bot{
  margin-top: 30px;
  text-align: center;
  font-family: "Playpen Sans", cursive;
  border: 2px dashed #ed2f59;
  border-radius: 20px;
  padding: 30px 15px;
}
.page-main .section-6 .md-text-bot span{
  color: #ed2f59;
  font-size: calc(8px + 1vw);
  font-weight: 700;
}
.page-main .section-7 .md-row .md-col .md-left{
  width: 55%;
}
.page-main .section-7 .md-row .md-col .md-right{
  width: 45%;
}
.page-main .section-7{
  margin-bottom: 50px;
}
.page-main .section-8 .col-md-6{
  margin-bottom: 20px;
}
.page-main .section-8{
  margin-bottom: 30px;
}
.footer{
  background: linear-gradient(180deg, #ED2F59 0%, #C62D59 100%);
  padding: 50px 0px;
}
.footer .title-footer{
  color: #FFF;
  text-align: center;
}
.footer .title-footer h2{
  margin-bottom: 30px;
  font-size: calc(20px + 2.5vw);
}
.footer .title-footer P{
  font-family: "Playpen Sans", cursive;
  margin-bottom: 10px;
}
.footer .content-footer{
  font-family: "Playpen Sans", cursive;
  color: #FFF;
  padding: 0px 32%;
  display: flex;
  flex-wrap: wrap;
}
.footer .content-footer a{
  color: #FFF;
  display: flex;
  align-items: center;
  gap: 5px;
}
.footer .content-footer .md-col-1,.footer .content-footer .md-col-2{
  flex: 0 0 50%;
  margin-bottom: 5px;
}

/*.footer .content-footer a.btn-fb{
  display: block;
}*/
.footer .content-footer a img{
  width: 10%;
}
.footer .content-footer .md-col-3 img{
  width: 5%;
}

@media screen and (min-width: 1900px){
  .banner .left-banner{
    padding: 30px 100px;
  }
  .banner{
    margin-bottom: 70px;
  }
  .md-title{
    padding: 50px 0px;
  }
  .page-main .section-1{
    margin-bottom: 70px;
  }
  .page-main .section-2 .md-text-bot,.page-main .section-6 .md-text-bot{
    border-radius: 30px;
    padding: 30px 20px;
  }
  .page-main .section-2,.page-main .section-3,.page-main .section-4,.page-main .section-5,.page-main .section-6,.page-main .section-7{
    margin-bottom: 70px;
  }
  .page-main .section-8{
    margin-bottom: 50px;
  }
  .header-container .logo-group .logo-item{
    width: 25%;
  }
  .page-main .section-5 .md-slider .owl-theme .owl-nav .owl-next,.page-main .section-5 .md-slider .owl-theme .owl-nav .owl-prev{
    width: 21px;
    height: 24px;
  }
}
@media screen and (max-width: 767px){
  .header-container .logo-group .logo-item{
    width: 35%;
  }
  .header-container .btn-contact{
    width: 100%;
  }
  .banner .left-banner{
    padding: 10px 15px;
  }
  .banner .left-banner h2{
    margin-bottom: 20px;
    font-size: calc(20px + 1vw);
  }
  .banner .left-banner p{
    font-size: calc(8px + 1vw);
    margin-bottom: 10px;
  }
  .banner .left-banner .md-btn{
    gap: 30px;
  }
  .banner .left-banner .md-btn img{
    width: 100%;
  }
  .banner, .page-main .section-1,.page-main .section-2,.page-main .section-3,.page-main .section-4,
  .page-main .section-5,.page-main .section-6,.page-main .section-7,.page-main .section-8{
    margin-bottom: 30px;
  }
  .page-main .section-1 .md-text-bot{
    display: block;
  }
  .page-main .section-1 .md-text-bot .md-left{
    width: 100%;
    text-align: center;
    padding: 0px 10%;
    margin-bottom: 30px;
  }
  .page-main .section-1 .md-text-bot .md-right{
    width: 80%;
    display: table;
    margin: 0 auto;
    text-align: center;
  }
  .page-main .section-1 .author-info{
    font-size: calc(6px + 1vw);
  }
  .page-main .section-1 .author-info strong{
    font-size: calc(10px + 1vw);
  }
  .page-main .section-1 .quote-text{
    text-align: center;
  }
  .page-main .section-4 .content-bot{
    padding: 0px;
  }
  .page-main .section-4 .content-bot img{
    width: 30%;
  }
  .page-main .section-5 .md-slider .owl-theme .owl-nav .owl-next{
    right: -10%;
  }
  .page-main .section-5 .md-slider .owl-theme .owl-nav .owl-prev{
    left: -10%;
  }
  .section-6 .md-content .row .col-6:last-child{
    display: table;
    margin: 20px auto 0 auto;
  }
  .footer .content-footer{
    padding: 0px 12%;
  }
  .footer .title-footer h2{
    font-size: calc(20px + 1vw);
  }
  .banner{
    display: block;
  }
  .banner .left-banner{
    width: 100%;
    padding: 20px;
  }
  .banner .right-banner{
    width: 100%;
  }
  .banner .left-banner h2{
    text-align: center;
  }
  .banner .left-banner p{
    margin-bottom: 30px;
  }
  .page-main .section-3 .md-content{
    display: block;
  }
  .page-main .section-3 .md-content .md-right{
    width: 100%;
    margin-bottom: 30px;
  }
  .page-main .section-3 .md-content .md-left{
    width: 100%;
    padding: 0px 5%;
    margin-bottom: 30px;
  }
  .page-main .section-3 .md-img-bot{
    
    width: 90%;
  }
  .page-main .section-3 .md-img-bot img{
    background: #ed2f59;
    border-radius: 10px;
  }
  .section-3 .md-row .md-col{
    display: block;
  }
  .section-3 .md-row .md-col .md-left{
    width: 100%;
    padding: 0px 5%;
    margin-bottom: 20px;
  }
  .section-3 .md-row .md-col .md-right{
    width: 100%;
    padding: 0px 5%;
  }
  .section-3 .md-row .md-col .md-right img{
    border-radius: 10px;
  }
  .section-3 .md-row .md-col .md-left .content-left h6{
    font-size: calc(12px + 1vw);
    text-align: center;
  }
  .page-main .section-7 .md-row .md-col{
    display: block;
  }
  .page-main .section-7 .md-row .md-col .md-left{
    width: 100%;
    padding: 0px 5%;
    margin-bottom: 20px;
  }
  .page-main .section-7 .md-row .md-col .md-right{
    width: 100%;
    padding: 0px 5%;
  }
  .page-main .section-7 .md-row .md-col .md-right img{
    border-radius: 10px;
  }
  .section-7 .md-row .md-col .md-left .content-left h6{
    font-size: calc(12px + 1vw);
    text-align: center;
  }
}